@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --background: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 100%);
  --primary-alt: hsl(0, 0%, 90%);
  --text: hsl(200, 15%, 8%);
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --primary: hsl(209, 23%, 22%);
  --primary-alt: hsl(209, 23%, 30%);
  --text: hsl(0, 0%, 100%);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
