.searchCover {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  margin: 2.5rem auto;
}

.input {
  border-radius: 5px;
  padding: 0.8rem;
  width: calc(180% - 20px);
  box-shadow: 10px 7px 20px 0px #0000000a;
  border: 1px solid transparent;
  font-weight: 600;
  outline: none;
  background-color: var(--primary);
  color: var(--text);
}

.input::placeholder {
  color: var(--text);
}

.dropdown {
  padding: 0.8rem;
  box-shadow: 10px 7px 20px 0px #0000000a;
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  outline: none;
  letter-spacing: 1px;
  color: var(--text);
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  row-gap: 45px;
  place-items: center;
}

.cover {
  width: 80%;
  background-color: var(--primary);
  height: 22rem;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px #0000000a;
  cursor: pointer;
}

.imgwrapper {
  position: relative;
  height: 11rem;
}
.textCover {
  margin-inline-start: 1.5rem;
}

.margin {
  margin-block: 1rem;
}

.textFlex {
  display: flex;
  align-items: center;
  margin-block-start: 0.2rem;
}

.mainText {
  font-size: 1.3rem;
}

.text {
  padding-inline-end: 0.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
}

@media screen and (max-width: 630px) {

  .input {
    width: 18rem;
  }

  .searchCover {
    display: block;
  }

  .dropdown {
    margin-block-start: 1rem;
  }
  
}
