.searchCover {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  row-gap: 45px;
  place-items: center;
}

.cover {
  /* position: relative; */
  /* display: block; */
  width: 80%;
  background-color: #fff;
  height: 22rem;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px #0000000a;;
  /* margin-left: auto; */
}

.imgwrapper {
  position: relative;
  height: 11rem;
}
.textCover {
  margin-inline-start: 1.5rem;
}

.margin {
  margin-block: 1rem;
}

.textFlex {
  display: flex;
  align-items: center;
  margin-block-start: 0.2rem;
  /* justify-content: space-evenly; */
}

.mainText {
  font-size: 1.3rem;
}

.text {
  padding-inline-end: 0.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
  /* padding-block-start: 0.5rem; */
}
