.header {
  box-shadow: 3px 0px 20px 0px #0000000A;
  padding-block: 1.5rem;
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.nav h2 {
  font-size: calc(0.8rem + 1vw);
}

.paragraph {
  font-weight: 600;
  cursor: pointer;
}